$font: "Helvetica Neue", Helvetica;

$textColor: white;

$bgColor: #eee;
$bgGradStart: #1f1f1f;
$bgGradEnd: #272727;

$buttonGradientStart:#67696a;
$buttonGradientEnd:#363738;

$defaultGradientStart: #4c4d4e;
$defaultGradientEnd: #404142;

$liBackground: #AAA;
$liBorderTop: #333;
$liBorderBottom: #555858;

$labelTextColor: #aaa;

$inputBgColor: #555;